{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mon compte</h1>
        <p>Bienvenue {{ app.user.first_name }} dans votre espace personnel</p>
    </div>
{% endblock %}
