{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <div class="row header-space">
            <h1>Inscription</h1>
            <div class="col-12">
                {{ form(form) }}
            </div>

        </div>
    </div>

{% endblock %}
