<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset("bootstrap/css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ asset("bootstrap/css/style.css") }}">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
{% include "menu.html.twig" %}


{% block body %}
{% endblock %}
<script src="{{ asset("bootstrap/js/bootstrap.bundle.min.js") }}"></script>
</body>

</html>
